# Lab | Data Structuring and Combining Data

Objective: 
- Combine and integrate data from multiple sources using merging, concatenating, or joining techniques to generate more comprehensive and meaningful datasets for analysis.
- Modify the structure of data by pivoting, stacking/unstacking, or melting dataframes, enabling them to efficiently explore and analyze complex datasets.

# Challenge 1: Combining Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links: 
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Perform data cleaning and formatting using the main cleaning and formatting function created in the previous lab to clean and format the data.

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

Observation: 
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd
import numpy as np
import functions as funcs

df1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')# load file 1
df2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')# load file 2
df3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')# load file 3

# clean file 1 data
df1_cleaned = funcs.clean_and_format_data(df1,
                                        {'customer':'customer_id', 'st':'state'},
                                        {'customer_lifetime_value':[['%','']],
                                         'state':[['AZ','Arizona'],['WA','Washington'],['Cali','California']],
                                         'education': [['Bachelors','Bachelor']]},
                                        {'number_of_open_complaints': 'int',
                                         'customer_lifetime_value': 'float'})
# clean file 2 data
df2_cleaned = funcs.clean_and_format_data(df2,
                                        {'customer':'customer_id', 'st':'state'},
                                        {'customer_lifetime_value':[['%','']],
                                         'state':[['AZ','Arizona'],['WA','Washington'],['Cali','California']],
                                         'education': [['Bachelors','Bachelor']]},
                                        {'number_of_open_complaints': 'int',
                                         'customer_lifetime_value': 'float'})
# clean file 3 data
df3_cleaned = funcs.clean_and_format_data(df3,
                                        {'customer':'customer_id', 'st':'state'},
                                        {},
                                        {'number_of_open_complaints': 'int',
                                         'customer_lifetime_value': 'float'})

# merge data
data = pd.concat([df1_cleaned, df2_cleaned, df3_cleaned], axis=0)

data # show data

,customer_id,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1,QZ44356,Arizona,F,Bachelor,6.979536e+05,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1.288743e+06,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,Californiafornia,M,Bachelor,7.645862e+05,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5.363077e+05,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,8.256298e+05,62902.0,69.0,0,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,2.340599e+04,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3.096511e+03,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8.163890e+03,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7.524442e+03,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2.611837e+03,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

## Exercise 1: Clean and Format the Data

While the dataset has been partially cleaned and formatted, we still need to perform several data cleaning tasks. Specifically, we need to standardize the column names, clean null values, convert the effective_to_date column to datetime, and extract the months from the dataset and store them in a separate column. 

To accomplish these tasks, we will use the functions created in the previous step to standardize the column names and deal with null values, and then we will apply additional functions to convert the effective_to_date column to datetime and extract the months.

Save the clean dataset into a csv file.

In [8]:
# load marketing customer analysis data
mca_data = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')

mca_data_clean = funcs.clean_and_format_data(mca_data,
                                        {'customer':'customer_id', 'st':'state'},
                                        {},
                                        {'number_of_open_complaints': 'int',
                                         'customer_lifetime_value': 'float'}) # clean the data

mca_data_clean

,unnamed:_0,customer_id,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
10,10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,M,...,0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A
13,13,KR82385,California,5454.587929,No,Basic,Master,1/26/11,Employed,M,...,0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A
16,16,FH51383,California,5326.677654,No,Basic,High School or Below,2/7/11,Employed,F,...,0,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,10902,PP30874,California,3579.023825,No,Extended,High School or Below,1/24/11,Employed,F,...,2,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A
10903,10903,SU71163,Arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,...,4,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A
10904,10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2/24/11,Unemployed,M,...,0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A

In [9]:
def convert_column_to_datetime(df: pd.DataFrame, column_name: str) -> pd.DataFrame:
    '''
    This function turns a string column into date time format
    
    Input:
    df: input DataFrame
    
    Output
    df: outout DataFrame with converted column
    '''
    
    df1 = df.copy()
    
    df1[column_name] = pd.to_datetime(df[column_name], errors='coerce')
    
    return df1

In [10]:
mca_data_clean = convert_column_to_datetime(mca_data_clean,'effective_to_date')# convert effective_to_date to datetime type

mca_data_clean['effective_to_date_month'] = mca_data_clean['effective_to_date'].dt.month# add a new column with the month

mca_data_clean.to_csv('mca_data_clean.csv',index = False, sep=";")# save data to csv file

mca_data_clean.head(50)# show clean data

,unnamed:_0,customer_id,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,effective_to_date_month
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
10,10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,2011-01-02,Employed,M,...,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A,1
13,13,KR82385,California,5454.587929,No,Basic,Master,2011-01-26,Employed,M,...,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A,1
16,16,FH51383,California,5326.677654,No,Basic,High School or Below,2011-02-07,Employed,F,...,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A,2
17,17,TR26615,Oregon,2497.531509,No,Basic,High School or Below,2011-01-17,Unemployed,M,...,1,Corporate Auto,Corporate L2,Offer2,Branch,272.381465,Two-Door Car,Medsize,A,1
18,18,ZC97968,California,2736.352663,No,Basic,College,2011-02-14,Disabled,M,...,1,Personal Auto,Personal L3,Offer1,Agent,350.400000,Two-Door Car,Medsize,A,2
19,19,NJ54277,California,3746.751625,Yes,Extended,College,2011-02-26,Employed,F,...,1,Personal Auto,Personal L2,Offer2,Call Center,19.575683,Two-Door Car,Large,A,2
20,20,OM80593,California,7247.313475,No,Basic,Bachelor,2011-02-23,Unemployed,F,...,7,Personal Auto,Personal L3,Offer1,Call Center,499.200000,SUV,Medsize,A,2
22,22,EQ62488,Oregon,15031.564500,No,Basic,College,2011-01-15,Employed,F,...,8,Personal Auto,Personal L3,Offer2,Call Center,907.200000,Luxury Car,Large,A,1
24,24,YK32760,Oregon,2502.209885,No,Basic,High School or Below,2011-02-15,Unemployed,M,...,1,Corporate Auto,Corporate L1,Offer1,Agent,355.200000,Four-Door Car,Medsize,A,2
25,25,AY59197,Nevada,9521.222806,No,Extended,College,2011-01-24,Employed,M,...,6,Special Auto,Special L3,Offer4,Agent,123.154160,SUV,Small,A,1
26,26,XF15789,Arizona,8869.619888,No,Basic,College,2011-02-21,Employed,F,...,9,Personal Auto,Personal L3,Offer3,Branch,228.185834,SUV,Large,A,2
28,28,CI99444,Nevada,2926.886293,No,Basic,College,2011-02-22,Employed,F,...,1,Special Auto,Special L2,Offer2,Call Center,234.774747,Four-Door Car,Medsize,A,2
30,30,GX19342,California,8491.465719,No,Premium,High School or Below,2011-01-28,Unemployed,F,...,3,Personal Auto,Personal L3,Offer1,Branch,1193.115879,Four-Door Car,Large,A,1
32,32,OJ63606,Arizona,5776.338737,No,Premium,High School or Below,2011-01-28,Medical Leave,F,...,1,Corporate Auto,Corporate L3,Offer1,Call Center,871.457982,SUV,Small,A,1
39,39,XD72019,Oregon,8470.043225,No,Extended,Bachelor,2011-02-19,Unemployed,F,...,2,Personal Auto,Personal L2,Offer2,Web,479.312226,Four-Door Car,Large,A,2
40,40,RR93140,California,2880.348532,No,Basic,College,2011-01-05,Employed,F,...,1,Personal Auto,Personal L2,Offer2,Branch,190.642833,Four-Door Car,Medsize,A,1
42,42,PV62583,Nevada,9799.175061,No,Extended,College,2011-01-03,Medical Leave,M,...,6,Personal Auto,Personal L3,Offer1,Web,604.800000,SUV,Medsize,A,1
43,43,BL12371,Arizona,5790.565333,No,Basic,Master,2011-02-03,Employed,M,...,5,Personal Auto,Personal L3,Offer2,Agent,28.925840,Four-Door Car,Large,A,2
45,45,RI22468,Arizona,5745.943340,No,Basic,Bachelor,2011-01-22,Employed,F,...,9,Personal Auto,Personal L1,Offer3,Web,269.905129,Four-Door Car,Medsize,A,1
48,48,UY32623,California,3593.126450,No,Extended,College,2011-02-05,Disabled,F,...,1,Corporate Auto,Corporate L2,Offer1,Branch,460.800000,Four-Door Car,Large,A,2
49,49,QV30663,Nevada,9863.502214,No,Extended,Master,2011-02-28,Employed,F,...,3,Personal Auto,Personal L3,Offer3,Call Center,272.788141,SUV,Medsize,A,2
50,50,MS94619,California,5111.304579,No,Basic,High School or Below,2011-02-13,Employed,F,...,3,Personal Auto,Personal L3,Offer3,Web,302.400000,Four-Door Car,Medsize,A,2
55,55,XQ74827,Arizona,19435.629240,No,Extended,High School or Below,2011-02-01,Employed,F,...,3,Special Auto,Special L3,Offer1,Agent,2294.631639,Luxury Car,Medsize,A,2
57,57,GB43363,Oregon,6870.607058,No,Premium,College,2011-01-24,Unemployed,M,...,3,Personal Auto,Personal L3,Offer1,Branch,756.000000,Four-Door Car,Small,A,1
60,60,IQ95180,Oregon,5651.396772,No,Basic,Bachelor,2011-01-19,Employed,M,...,9,Personal Auto,Personal L3,Offer1,Branch,396.035334,Four-Door Car,Small,A,1
61,61,JX52708,California,4556.068318,No,Basic,Bachelor,2011-02-14,Medical Leave,M,...,3,Personal Auto,Personal L3,Offer2,Call Center,302.400000,Two-Door Car,Medsize,A,2
64,64,WL24392,Arizona,5860.167430,No,Basic,Bachelor,2011-02-01,Employed,M,...,3,Personal Auto,Personal L1,Offer1,Agent,41.464402,Four-Door Car,Medsize,A,2
66,66,UO54511,California,4950.250892,No,Basic,High School or Below,2011-01-20,Employed,F,...,9,Personal Auto,Personal L1,Offer3,Agent,302.400000,Four-Door Car,Medsize,A,1
68,68,NY12562,Nevada,2224.089639,No,Basic,College,2011-01-05,Unemployed,F,...,1,Corporate Auto,Corporate L2,Offer2,Branch,483.257210,Four-Door Car,Medsize,A,1
69,69,QG27547,Oregon,2867.312197,Yes,Extended,Bachelor,2011-01-03,Retired,F,...,1,Personal Auto,Personal L3,Offer2,Call Center,374.400000,Four-Door Car,Medsize,A,1
71,71,LO37570,Arizona,12157.541300,No,Extended,High School or Below,2011-01-07,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Agent,369.600000,Four-Door Car,Medsize,A,1
78,78,LN28900,California,14687.079590,No,Extended,Bachelor,2011-02-23,Unemployed,M,...,2,Personal Auto,Personal L1,Offer1,Web,612.000000,Four-Door Car,Small,A,2
80,80,VM85555,California,7750.120323,No,Basic,College,2011-02-23,Employed,F,...,2,Personal Auto,Personal L2,Offer3,Branch,33.718553,Four-Door Car,Medsize,A,2
82,82,FR48094,Arizona,2456.816127,No,Basic,High School or Below,2011-02-15,Unemployed,M,...,1,Personal Auto,Personal L3,Offer4,Branch,525.600000,Four-Door Car,Small,A,2
85,85,CH50584,Oregon,32474.769770,No,Basic,High School or Below,2011-01-22,Employed,M,...,2,Personal Auto,Personal L3,Offer4,Call Center,734.400000,SUV,Small,A,1
90,90,KO86181,Oregon,6941.872931,No,Basic,College,2011-02-11,Unemployed,F,...,6,Personal Auto,Personal L3,Offer1,Agent,532.800000,SUV,Small,A,2
95,95,NB81923,Washington,7294.492993,No,Basic,College,2011-02-24,Unemployed,F,...,7,Personal Auto,Personal L3,Offer1,Call Center,733.737214,Sports Car,Medsize,A,2
98,98,PK23339,Arizona,3417.953745,No,Extended,High School or Below,2011-01-25,Employed,F,...,1,Personal Auto,Personal L2,Offer2,Call Center,370.018108,Four-Door Car,Medsize,A,1
101,101,UV12583,California,4700.583771,No,Basic,College,2011-02-18,Employed,F,...,1,Personal Auto,Personal L1,Offer4,Agent,561.600000,SUV,Medsize,A,2
102,102,VG56765,Arizona,2471.528431,Yes,Basic,High School or Below,2011-01-15,Employed,M,...,1,Personal Auto,Personal L2,Offer2,Agent,114.273025,Two-Door Car,Medsize,A,1
103,103,AK11669,Arizona,10130.934420,No,Extended,Doctor,2011-01-17,Employed,F,...,2,Corporate Auto,Corporate L3,Offer3,Branch,408.000000,Two-Door Car,Medsize,A,1
105,105,MS87381,California,23866.156560,No,Extended,High School or Below,2011-02-14,Unemployed,F,...,2,Personal Auto,Personal L2,Offer3,Branch,388.800000,Four-Door Car,Medsize,A,2
110,110,HB48073,Arizona,9371.773682,No,Basic,Bachelor,2011-02-01,Employed,F,...,5,Corporate Auto,Corporate L2,Offer1,Agent,497.719213,SUV,Medsize,A,2
113,113,EC28398,Oregon,5096.673223,Yes,Basic,Master,2011-01-28,Disabled,F,...,3,Corporate Auto,Corporate L2,Offer1,Agent,312.000000,Four-Door Car,Small,A,1
114,114,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
115,115,HS39343,Washington,7475.784971,No,Basic,Bachelor,2011-01-26,Disabled,F,...,1,Corporate Auto,Corporate L3,Offer1,Agent,534.653787,Luxury Car,Medsize,A,1
117,117,EF84269,California,5568.656492,No,Extended,College,2011-02-21,Employed,F,...,1,Personal Auto,Personal L2,Offer1,Web,236.739322,SUV,Medsize,A,2
118,118,RD22761,Washington,20579.691570,No,Basic,Bachelor,2011-01-16,Unemployed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,566.673518,Four-Door Car,Medsize,A,1

In [11]:
!ls

README.md
__pycache__
functions.py
lab-dw-data-structuring-and-combining.ipynb
mca_data_clean.csv

## Exercise 2: Structuring Data

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

3. You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [12]:
# 1.

df1 = mca_data_clean.pivot_table(values='monthly_premium_auto', index='sales_channel', aggfunc='sum').round(2)

display(df1)
print("'Agent' is the sales channel with the highest revenue.")

# 2.

df2 = mca_data_clean.pivot_table(values='customer_lifetime_value',index=['education','gender'], aggfunc='mean').round(2)

display(df2)
print("There is no apparent strong dependency between education/gender and customer lifetime value.")

# 3.

df3 = mca_data_clean.pivot_table(values='number_of_policies', index=['policy_type'], columns=['effective_to_date_month'], aggfunc='sum').round(2)

#display(df3)

df3_melt = pd.melt(df3.reset_index(), id_vars='policy_type', var_name='effective_to_date_month' , value_name='number_of_policies')

display(df3_melt)

               monthly_premium_auto
sales_channel
Agent                        164054
Branch                       117853
Call Center                   82706
Web                           61399

'Agent' is the sales channel with the highest revenue.

                             customer_lifetime_value
education            gender
Bachelor             F                       8039.29
                     M                       8125.26
College              F                       7798.08
                     M                       7984.30
Doctor               F                       8475.30
                     M                       7659.74
High School or Below F                       8475.52
                     M                       7730.15
Master               F                       8243.13
                     M                       8013.87

There is no apparent strong dependency between education/gender and customer lifetime value.

      policy_type effective_to_date_month  number_of_policies
0  Corporate Auto                       1                1435
1   Personal Auto                       1                5326
2    Special Auto                       1                 282
3  Corporate Auto                       2                1430
4   Personal Auto                       2                4769
5    Special Auto                       2                 297